[Desktop Entry]
Categories=System;Settings;PackageManager
Comment[en_US]=Install, remove and upgrade software packages
Comment=Install, remove and upgrade software packages
Exec=rpmgr
GenericName[en_US]=Package Manager
GenericName=Package Manager
Icon=/usr/share/pixmaps/rpmgr.png
MimeType=
Name[en_US]=RPMgr Package Manager
Name=RPMgr Package Manager
#Path=
StartupNotify=true
StartupWMClass=rpmgr
Terminal=false
#TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
